---

---

<section class="bg-dark-red p-8 flex flex-col gap-6">
  <div class="flex justify-center items-center flex-col gap-4">
    <h2 class="text-5xl text-center text-white">Nuestras Presentaciones</h2>
    <div class="flex flex-col md:flex-row w-3/4 justify-evenly gap-2">
      <span class="bg-linear-to-r from-60% from-golden to-dark-golden transition-all hover:scale-105 select-none cursor-pointer px-10 py-4 rounded-lg shadow-sm text-white text-xl">
        100gr
      </span>
      <span class="bg-linear-to-r from-60% from-golden to-dark-golden transition-all hover:scale-105 select-none cursor-pointer px-10 py-4 rounded-lg shadow-sm text-white text-xl">
        200gr
      </span>
      <span class="bg-linear-to-r from-60% from-golden to-dark-golden transition-all hover:scale-105 select-none cursor-pointer px-10 py-4 rounded-lg shadow-sm text-white text-xl">
        250gr
      </span>
      <span class="bg-linear-to-r from-60% from-golden to-dark-golden transition-all hover:scale-105 select-none cursor-pointer px-10 py-4 rounded-lg shadow-sm text-white text-xl">
        500gr
      </span>
      <span class="bg-linear-to-r from-60% from-golden to-dark-golden transition-all hover:scale-105 select-none cursor-pointer px-10 py-4 rounded-lg shadow-sm text-white text-xl">
        1kg (Café Espresso en Grano)
      </span>
    </div>
  </div>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 items-center justify-items-center"
  >
    <img draggable="false"
      class="w-48 transition-all hover:scale-110"
      src="/images/mockup.webp"
      alt="Empaque de Café La Patrona. Bolsa verde y marrón con diseño de mujer con sombrero. Texto: 100% Arábica, Café de Origen Único, Café Tostado y Molido Gourmet, 100% Boconés."
    />
    <img draggable="false"
      class="w-96 transition-all hover:scale-110"
      src="/images/doble_mockup.webp"
      alt="Empaque de Café La Patrona. Bolsa verde y marrón con diseño de mujer con sombrero. Texto: 100% Arábica, Café de Origen Único, Café Tostado y Molido Gourmet, 100% Boconés."
    />
    <img draggable="false"
      class="w-48 transition-all hover:scale-110"
      src="/images/back_mockup.webp"
      alt="Empaque de Café La Patrona. Bolsa verde y marrón con diseño de mujer con sombrero. Texto: 100% Arábica, Café de Origen Único, Café Tostado y Molido Gourmet, 100% Boconés."
    />
  </div>
</section>
