<section class="min-h-[800px] bg-dark-red bg-[url(/images/cafetal.webp)] bg-cover flex flex-col">
  <div class="h-full text-white backdrop-brightness-[25%] backdrop-blur-xs flex flex-col grow justify-center items-center gap-6 p-5">
    <h1>
      <img draggable="false" class="h-64 md:h-92" src="/images/logo_2.webp" alt="Logotipo de Café La Patrona con letras doradas cursivas" />
    </h1>
    <p class="md:max-w-[60ch] font-sans font-normal text-2xl text-center">
      Desde las montañas del Jardín de Venezuela, se produce Café La Patrona,
      honrando la tierra fértil y pensando en satisfacer paladares con la
      delicadeza de un producto cargado de sabor y aromas que vienen de manos de
      mujeres campesinas, hasta su taza.
    </p>
  </div>
</section>
